.root {
    max-width: 1280px;
    min-width: 720px;
    width: 60vw;
    margin: 0 auto;
    padding: 16px 20px 20px 20px;
    background: rgba(27, 28, 44, 0.8);
    border: 2px solid #000000;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    font-family: 'Cinzel', serif;
}