@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.tabsWrapper {
  max-width: 1280px;
  min-width: 720px;
  width: 60vw;
  margin: 0 auto;
  padding: 16px 20px 20px 20px;

  background: rgba(44, 36, 27, 0.8);
  border: 2px solid #000000;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

  font-family: 'Cinzel', serif;
  color: #f7e7c1;
}

.tabsHeader {
  display: flex;
  margin-bottom: 6px;
  gap: 6px;
  border-bottom: 1px solid #f7e7c1;;
}

.tabButton {
  position: relative;
  padding: 8px 14px;

  background: rgba(255, 244, 224, 0.0);

  border-bottom: none;
  border-radius: 10px 10px 0 0;

  color: #f7e7c1;
  font-size: 1.0rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;

  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    border-color 0.2s ease;
}

.tabButtonInactive {
  color: rgba(247, 231, 193, 0.75);
  background: rgba(255, 244, 224, 0.0);
}

.tabButtonActive {
  color: #fff2d2;
  background-color: rgba(255, 240, 200, 0.04);
  border-color: #f7e7c1;

  box-shadow: inset 0 1px 0 #f7e7c1;
}

.tabButton:hover {
  color: #fff2d2;
  background-color: rgba(255, 240, 200, 0.04);
}
