.wrapper {
    position: relative;
    width: auto;
    height: auto;
    margin: 3rem;

    border-radius: 128px;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, 1.0),
        0 2px 30px rgba(0, 0, 0, 1.0);

    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease;
    cursor: pointer;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    border-radius: 128px;
    border: 3px solid #000000;

    user-select: none;
    pointer-events: none;
}

.zones {
    position: absolute;
    inset: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 14px;
}

.zone {
    height: 100%;
}