.pixelNav {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;

  font-family: "Press Start 2P", monospace;
  font-size: 14px;
}

.li,
.navLink,
.navLink:hover,
.navLink:active,
.navLink:visited {
  color: #ffffff;
  text-shadow: 2px 2px #000;
  transition: transform 0.15s ease, color 0.15s ease;
  text-decoration: none;
}

.navLink:hover {
  color: #ffedb5;
  transform: scale(1.1);
}