@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.pixelNav {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;

  font-family: "Press Start 2P", monospace;
  font-size: 14px;
}

.navLink, .selected {
  display: inline-block;
  padding-inline: 10px;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 1.25rem;

  color: rgba(255, 237, 200, 0.6);
  text-shadow: 2px 2px #000;
  transition: transform 0.15s ease, color 0.15s ease;
  text-decoration: none;
}

.navLink:hover {
  color: #ffedb5;
  transform: scale(1.25);
}
