.root {
  /* display: grid;
  gap: 12px;
  font-family: inherit;
  color: #3d2c1a;

  padding-bottom:16px;
  padding-inline: 14px;
  margin-block: 10px;
  border-radius: 14px;

  background:
    linear-gradient(
      rgba(255, 248, 235, 0.2),
      rgba(255, 242, 220, 0.1)
    );

  border: 2px solid #5c3d1e;
  box-shadow:
    inset 0 0 0 2px rgba(247, 231, 193, 0.6),
    inset 0 0 10px rgba(92, 61, 30, 0.25),
    0 3px 8px rgba(0, 0, 0, 0.25); */

    display: grid;
  gap: 12px;
  font-family: inherit;
  color: #3d2c1a;

  padding-bottom:16px;
  padding-inline: 14px;
  margin-block: 10px;
  border-radius: 14px;

  background: linear-gradient(
    rgba(255, 248, 235, 0.2),
    rgba(255, 242, 220, 0.1)
  );
  border: 3px solid #3a2a18;
  border-radius: 12px;

  box-shadow:
      inset 0 0 14px rgba(0, 0, 0, 0.45),
      0 0 14px rgba(0, 0, 0, 0.6);

  font-family: 'Cinzel', serif;
}

