.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap: 6px;
  font-family: inherit;
  color: #fdf1d0;

  padding-block: 16px;
  padding-inline: 14px;
  margin-block: 10px;
  border-radius: 14px;

  background: linear-gradient(rgba(255, 248, 235, 0.2),
      rgba(255, 242, 220, 0.1));
  border: 3px solid #3a2a18;
  border-radius: 12px;

  box-shadow:
    inset 0 0 14px rgba(0, 0, 0, 0.45),
    0 0 14px rgba(0, 0, 0, 0.6);

  font-family: 'Cinzel', serif;
}

.root h2 {
  text-align: left;
  margin: 0px;
  margin-top: 6px;
  padding: 6px;
}


