@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.table {
    width: 100%;
    border-collapse: separate;  
    border-spacing: 0 8px;        
    background: transparent;
    font-family: 'Cinzel', serif;
}

.table th {
    background: transparent;
    color: #f7e7c1;
    padding: 6px;
    font-size: 1.1rem;
    text-align: left;
}

.table td {
    color: #f7e7c1;
    padding: 6px 8px;  
    font-size: 1.0rem;
    text-align: left;

    background: rgba(32, 25, 18, 0.6);
    border-bottom: 1px solid #000000;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.4);
}

.table tbody tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.table tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.table tbody tr:hover td,
.table tbody tr.selected td {
    background-color: rgba(255, 240, 200, 0.08);
    border-bottom: 1px solid #f7e7c1;
    cursor: pointer;
}
