@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 244, 224, 0.0);
    font-family: 'Cinzel', serif;
    overflow: scroll;
}

.table th {
    background: rgba(255, 244, 224, 0.0);
    color: #f7e7c1;
    padding: 6px;
    font-size: 1.1rem;
    text-align: left;
}

.table td {
    color: #f7e7c1;
    padding-block: 12px;
    padding-inline: 6px;
    border-bottom: 1px solid #f7e7c1;
    font-size: 1.0rem;
    text-align: left;
}

.table th,
.table td {
    transition: color 0.2s ease, transform 0.2s ease;
}

.table tbody tr:hover,
.selected {
    background-color: rgba(255, 240, 200, 0.04);
    box-shadow: inset 3px 0 0 rgba(255, 200, 120, 0.6);
    cursor: pointer;
}


