@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 244, 224, 0.0);
    font-family: 'Cinzel', serif;
    overflow: hidden;
}

.table th {
    background: rgba(255, 244, 224, 0.0);
    color: #f7e7c1;
    padding: 12px;
    font-size: 1.1rem;
    text-align: left;
}

.table td {
    color: #f7e7c1;
    padding: 6px;
    border-bottom: 2px solid rgb(255, 248, 235);
    font-size: 1rem;
    text-align: left;
}

.table tbody tr:hover,
.selected {
    background: rgba(255, 237, 200, 0.6);
    box-shadow: inset 0 0 12px rgba(126, 93, 35, 0.7);
    cursor: pointer;
}


