.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    flex: 1;
}

.footer {
    margin-bottom: 0px;
}