@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.backdrop {
  position: fixed;
  inset: 0;

  overflow-y: auto;
  padding: 2rem;
  display: grid;
  place-items: center;
  
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(3px);

  z-index: 999;
}

.modal {
  position: relative;
  min-width: 800px;
  max-width: 80vw;
  padding: 24px;

  background: rgba(27, 28, 44, 0.8);
  border: 2px solid #000000;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  font-family: 'Cinzel', serif;
}

.closeButton {
  position: absolute;
  top: 6px;
  right: 6px;

  background: transparent;
  border-radius: 8px;

  color: rgba(247, 231, 193, 0.75);
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  font-weight: 700;

  cursor: pointer;

  transition:
    color 0.2s ease,
    border-color 0.2s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

.closeButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.closeButton:active {
  transform: translateY(0px);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
